
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Silkscreen:wght@700&display=swap");

/* 1. Root-element-settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Roboto Slab; */
  overflow-x: hidden;
}

body, html {
  background-color: #ffe9dc;
  font-family: "Roboto", sans-serif;
  font-family: "Merriweather", serif;
  height: 100vh;
  width: 100vw;
}

.admin-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*3. Navbar*/
nav {
  display: flex;
}
nav #navbar-list {
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #4F7336;
  border-radius: 1rem;
  list-style: none;
  color: white;
}

#adminForm {
  display: flex;
  flex-direction: column;
}

#form-container {
  margin-top: 1rem;
  background-color: #4F7336;
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.image-display {
  height: 50vh;
  /* background-image: url('img/lake-640.jpg'); */

  background-size: contain;
}


form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#btn,
#btnDelete {
  margin-top: 1rem;
  font-size: 1rem;
  width: 80%;
  background-color: #733b36;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
